#resource-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000010;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	&.show {
		display: block;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
	}
}
#supporting-documents-block {
	h3 {
		background: $c-grey;
		font-size: 16px;
		color: $c-white;
		margin: 0;
		padding: 10px 20px;
		border-left: 1px solid $c-mgrey;
		border-top: 1px solid $c-mgrey;
		border-right: 1px solid $c-mgrey;
	}
	h4 {
		color: $c-red;
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 6px 0;
	}
	.docs-container {
		padding: 11px 10px;
		border-left: 1px solid $c-mgrey;
		border-right: 1px solid $c-mgrey;
		border-bottom: 1px solid $c-mgrey;
		h5 {
			&:first-of-type {
				margin-top: 0px;
			}
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 9px;
			font-weight: bold;
		}
	}
	.doc-list {
		overflow: hidden;
		a {
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			position: relative;
			padding: 5px 10px;
			display: block;
			&:after {
				font-family: ufhs;
				content: 'i';
				color: $c-red;
				font-size: 15px;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -6px;
			}
			&:hover {
				color: $c-grey;
				background: $c-lgrey;
				pointer: cursor;
			}
			span {
				display: inline-block;
				vertical-align: middle;
				&.title {
					width: calc(100% - 32px);
					padding-right: 20px;
				}
				&.icon-container {
					width: 27px;
				}
			}
		}
		&.video {
			a {
				span.icon-container {
					width: 80px;
					margin-right: 10px;
					position: relative;
					&:before {
						content: url('/skin/frontend/base/default/manuallookup/img/play.svg');
						position: absolute;
						left: 50%;
						top: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
				span.title {
					width: calc(100% - 95px);
				}
			}
		}
	}
	@include bp(min-width, $bp-small + 1) {
		.doc-list {
			li {
				display: inline-block;
				vertical-align: middle;
				width: 47%;
				margin-right: 2%;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				&:nth-of-type(2n+1) {
					clear:left;
				}
			}
		}
	}
	@include bp(min-width, $bp-medium + 1) {
		float: right;
		width: 29%;
		.doc-list {
			li {
				float: none;
				width: 100%;
				&:nth-of-type(n) {
					margin-right: 0;
					clear: none;
				}
				a {
					font-size: 13px;
				}
			}
		}
	}
	@include bp(min-width, $bp-xlarge + 1) {
		.doc-list {
			li {
				a {
					font-size: 14px;
				}
			}
		}
	}
}