// Colours
$c-white: 	#ffffff;
$c-lgrey: 	#F4F4F4;
$c-mgrey: 	#dadada;
$c-grey: 	#58585B;
$c-red: 	#e60004;
$c-green:  	#78B834;

$c-input-border: $c-mgrey;
$c-border: $c-mgrey;
$c-text: $c-grey;

// Breakpoints
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 959px;
$bp-xlarge: 1199px;