<!-- Resource Upload -->
<div class="box-customer">
	<div class="entry-edit">

		<div class="entry-edit-head">
			<h4 class="icon-head head-account">Resources</h4>
		</div>
		<div class="fieldset">
			<!-- Display All Associated Resources -->
			<?php echo $this->getChildHtml('allresources'); ?>
		</div>

		<div class="entry-edit-head">
			<h4 class="icon-head head-account">YouTube Videos</h4>
		</div>
		<div class="fieldset">
			<!-- Display All Associated Resources -->
			<?php echo $this->getChildHtml('allvideos'); ?>
		</div>

		<div class="entry-edit-head">
			<h4 class="icon-head head-account">Add New Resource</h4>
		</div>
		<div class="fieldset">
			<form onsubmit="document.getElementById('loading-mask').style.display = 'block';" action="<?php echo $this->getUploadUrl();?>" method="post" enctype="multipart/form-data" id="newResourceForm" name="newResourceForm">
				<input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" name="form_key"/>
				<input type="hidden" name="resource[store]" value="<?php echo Mage::app()->getRequest()->getParam('store') ?: '0';?>"/>
				<table cellspacing="0" class="form-list">
					<tbody>
						<tr>
							<td class="label">
								<label>Name</label>
							</td>
							<td class="value">
								<input name="resource[name]" class="input-text" type="text">
							</td>
						</tr>
						<tr>
							<td class="label">
								<label>Resource Type</label>
							</td>
							<td class="value">
								<select name="resource[type]">
									<option value="">-- Please Select --</option>
									<?php echo $this->getResourceTypes(); ?>
								</select>
							</td>
						</tr>
						<tr>
							<td class="label">
								<label>File</label>
							</td>
							<td class="value">
								<input type="file" name="resourceFile" accept=".pdf,.jpg,.png"/>
							</td>
						</tr>
						<tr>
							<td class="label"></td>
							<td class="value">
								<input id="addnew" name="" value="Add New Resource" class="form-button submit scalable save" type="submit">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

		<div class="entry-edit-head">
			<h4 class="icon-head head-account">Link Existing Resource</h4>
		</div>
		<div class="fieldset">
			<form onsubmit="document.getElementById('loading-mask').style.display = 'block';" action="<?php echo $this->getLinkUrl();?>" method="post" enctype="multipart/form-data" id="newResourceForm" name="newResourceForm">
				<input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" name="form_key"/>
				<input type="hidden" name="resource[store]" value="<?php echo Mage::app()->getRequest()->getParam('store') ?: '0';?>"/>
				<table cellspacing="0" class="form-list">
					<tbody>
						<tr>
							<td class="label">
								<label>File</label>
							</td>
							<td class="value">
								<select name="resource[id]">
									<option value="">-- Please Select --</option>
									<?php echo $this->getExistingResources(); ?>
								</select>
							</td>
						</tr>
						<tr>
							<td class="label"></td>
							<td class="value">
								<input id="linkres" name="" value="Link Resource" class="form-button submit scalable save" type="submit">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

		<div class="entry-edit-head">
			<h4 class="icon-head head-account">Add New YouTube Video</h4>
		</div>
		<div class="fieldset">
			<form onsubmit="document.getElementById('loading-mask').style.display = 'block';" action="<?php echo $this->getVideoUrl();?>" method="post" enctype="multipart/form-data" id="newVideoForm" name="newVideoForm">
				<input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" name="form_key"/>
				<input type="hidden" name="video[store]" value="<?php echo Mage::app()->getRequest()->getParam('store') ?: '0';?>"/>
				<table cellspacing="0" class="form-list">
					<tbody>
						<tr>
							<td class="label">
								<label>Name</label>
							</td>
							<td class="value">
								<input name="video[name]" class="input-text" type="text">
							</td>
						</tr>
						<tr>
							<td class="label">
								<label>YouTube ID</label>
							</td>
							<td class="value">
								<input name="video[url]" class="input-text" type="text">
							</td>
						</tr>
						<tr>
							<td class="label"></td>
							<td class="value">
								<input id="addnew" name="" value="Add New Video" class="form-button submit scalable save" type="submit">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

	</div>
</div>