<?php if(!empty($this->getDataList()) || !empty($this->getVideoList())):?>
	<a name="manuals-and-information"></a>
	<div id="supporting-documents-block">
		<h3>Manuals &amp; Information</h3>
		<div class="docs-container">
			<?php if(!empty($this->getDataList())): ?>
				<h5>Documents</h5>
				<ul class="doc-list">
					<?php foreach($this->getDataList() as $item): ?>
						<li>
							<a target="_blank" href="/media/ufhs/manuals/<?php echo $item['filename'];?>">
								<span class="icon-container">
									<img src="/skin/frontend/base/default/manuallookup/img/icons/<?php $v = explode(".",$item['filename']); echo end($v); ?>.png" />
								</span>
								<span class="title"><?php echo $item['name'];?></span>
							</a>
						</li>
					<?php endforeach;?>
				</ul>
			<?php endif; ?>
			<?php if(!empty($this->getVideoList())):?>
				<h5>Videos</h5>
				<ul class="doc-list video">
					<?php foreach($this->getVideoList() as $video): ?>
						<li>
							<a data-modal-title="<?php $video['name']; ?>" target="_blank" href="https://www.youtube.com/embed/<?php echo $video['url'];?>?fs=0&modestbranding=1&rel=0&showinfo=0">
								<span class="icon-container">
									<img src="https://img.youtube.com/vi/<?php echo $video['url'];?>/0.jpg" />
								</span>
								<span class="title"><?php echo $video['name'];?></span>
							</a>
						</li>
					<?php endforeach;?>
				</ul>
			<?php endif;?>
		</div>
	</div>
<?php endif;?>