<div id="manual-lookup">
	<div id="help-heading-page">
		<a class="center-link" title="Return to the Help &amp; Advice centre" href="/help-and-advice-centre" data-icon="5">Help &amp; advice centre</a>
	</div>
	<form id="resource-form">
		<div id="help-nav" class="cols-2" data-height-determined-by="|p">
			<div class="col">
				<h2>Looking for a user manual or a wiring diagram?</h2>
				<p>We have an extensive library of product manuals and white papers available.  Simply enter your product code/name in the search box below to see all documentation we have for your product.</p>
				<div id="resource-search-bar">
					<input type="text" name="text" placeholder="Enter product identifier...."/>
					<button class="cta">Search</button>
				</div>
			</div>
			<div id="resource-form-bottom" class="col">
				<h2>Not sure of your product code or name?</h2>
				<p>If you are unsure of your product code or you would prefer to search via the brand or product type, use the dropdown boxes below.</p>
				<select class="resource-dropdown" name="brand">
					<option value="">Brand</option>
					<?php echo $this->getChildHtml('brand');?>
				</select>
				<select class="resource-dropdown" name="prod_cat">
					<option value="">Category</option>
					<?php echo $this->getChildHtml('cat');?>
				</select>
				<button class="cta">Search</button>
			</div>
		</div>
	</form>

	<div class="resource-output">
		<div id="resource-count"></div>
		<div id="resources-output"></div>
	</div>
</div>

<script>
	function formPost(){
		show_preloader();
		var form = $j('#resource-form');
		var text = $j('[name="text"]',form).val();
		var brand = $j('[name="brand"]',form).val();
		var cat = $j('[name="prod_cat"]',form).val();

		$j.ajax({
			url:'/manuallookup/manualinterface/results',
			data: {
				text: text,
				brand: brand,
				prod_cat: cat
			},
			method:'post'
		}).done(function(xhr){
			var json = JSON.parse(xhr);
			$j('#resources-output').html(json.result);
			$j('#resource-count').html(json.count);
			hide_preloader();
			$j('[name="text"]',form).val('');
			$j('[name="brand"]',form).get(0).selectedIndex = 0;
			$j('[name="prod_cat"]',form).get(0).selectedIndex = 0;
		});
	}
	var form = $j('#resource-form');
	form.on('submit',function(e){
		e.preventDefault();
		formPost();
	});
	form.on('reset',function(){
		formPost();
	});
</script>